body {
	background-color: black;
}

h1{
	text-align: center;
}

h3{
	text-align: center;
}

p{
	text-align: center;
}

.header{
	font-size: 40px;
}

#map {
	margin-left:40px;
	margin-right:40px;
        height: 400px;
}

.control-ui{
	display: inline-block;
	background-color: transparent;
	border-style: solid;
	border-radius: 25px;
	border-width: 2px;
	border-color: #FF69B4;
	cursor: pointer;
	text-align: center;
	width: 90px;
	height: 60px;
}





#column-map-view {
	margin-right: 25px;
}

#column-zoom-in {
	margin-left: 25px;
}

#control-profile-update {
	padding-top: 14px;
	width: 95px;
}

#control-login {
	padding-top: 14px;
	width: 95px;
	margin: 20px;
}

#control-register {
	width: 80px;
	height: 25px;
	margin: 20px;
}

#control-register-text {
	font-size: 10pt;
}

.logo {
	padding-bottom: 20px;
	width:50%;
	height:50%;
	min-width:120px;
	outline: 0 !important;
    	border:0 none !important;
}

.col-xs-1 {
	margin: 2px;
}

a:link,
a:visited,
a:hover,
a:active {
	background-color: transparent;
	color: transparent;
	
}
.nav>li>a.active,
.nav>li>a:hover,
.nav>li>a:focus {
	background-color: transparent;
	color: transparent;
}

.press, img, .press:focus, img:focus{
    outline: 0 !important;
    border:0 none !important;
}

.button, .control-text, .profile>p, .login>p{
	display: inline-block;
	border: none;
	font: normal 48px/normal "Warnes", Helvetica, sans-serif;
	color: rgba(255,255,255,1);
	text-decoration: normal;
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
	text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.profile{
	margin-left:400px;
	text-align:left;
}
.profile>input, .login>input{
	background:none;
	border: none;
	color:white;
	border-bottom: 2px solid #ff00de;
}

.profile>p, .login>p{
	font-size: 20pt;
	margin-top:10px;
	margin-right:20px;
}

.profile-text>input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
     width: 25%;
    background:none;
    border: none;
    color:white;
    border-bottom: 2px solid #ff00de;
     text-align: top;
    height:400px;
}

.profile-text>input[type=text]:focus {
    width: 50%;
    background:none;
    border: none;
    color:white;
    border-bottom: 2px solid #ff00de;
}

.control-text>p {
	font-size: 14pt;
}

.button:hover {
	text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}

.raceSetButtons {
	/*padding: 25px 20px 20px 20px /*Top Right Bottom Left */
}

.control-panel, #login-box {
	background-color: transparent;
	border-style: solid;
	border-radius: 25px;
	border-width: 2px;
	border-color: #FF69B4;
}

.loginPage-box {
	padding-bottom:10px;
}
